# coding: utf-8
# email: khahux@163.com


class Config(object):
    db = "mysql://{user}:{password}@{host}/{database}?charset=utf8"
    SUCCESS_KEY = "change me"
    REDIS_URL = "redis:://:"
    apikey = ""
    login_sign = u"随意的签名"
    upload_folder = "."
    allowed_extensions = set(['txt', 'pdf', 'png', 'jpg', 'jpeg', 'gif'])

yunpian_config = {
    'host': 'yunpian.com',
    'port': 80,
    'version': 'v1',
    'api_key': 'change me',
}
